appdirs==1.4.4
aniso8601==0.82
beautifulsoup4==4.9.1
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
fake-useragent==0.1.11
Flask==1.1.2
Flask-PyMongo==2.3.0
Flask-RESTful=0.2.12
google-auth==1.20.0
google-crc32c==0.1.0
google-resumable-media==0.7.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
msgpack==1.0.0
numpy==1.19.1
pandas==1.1.0
parse==1.16.0
protobuf==3.12.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyee==7.0.2
pymongo==3.11.0
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-html==0.10.0
rsa==4.6
six==1.15.0
soupsieve==2.0.1
tqdm==4.48.2
urllib3==1.25.10
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
